@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}




body {
    
    background: linear-gradient(
        to bottom right,
        #45c270, #21cdc3
    );
    
   
}

main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/** página de sobre**/
a{
    text-decoration: none;
    color: darkgreen;
    color: white;
}
.text-boxx h1{
    width: 100%;
    margin-top: -235px;
    text-align: left;
    justify-content: center;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
    border-bottom: 5px solid green;

}

.paragrafo-contato{
    font-size: 1.2em;
    font-weight: 400;
    margin-left: -99px;
    margin-top: -60px;
    color: #000000;
}
/*página de contato*/
.contato-form{
    display: grid;
    margin-left: 40%;
    margin-top: 100px;
    margin-right: 40%;
    }
    
    .form-row{
        margin: 0 auto;
        display: block;
        width: 30;
        height: auto;
    } 
     
    .btn-contato{
        width: 80px;
        background-color: darkgreen;
        color: #ffffff;
    }
    .form-control{
        width: 300px;
    }
    

.container-contato {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    


}


.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

#texto-titulo{
    margin: 25px 0px 0px 50px;
}


.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: darkgoldenrod;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group-contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box-contato {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box-contato input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box-contato input:hover {
    background-color: #eeeeee75;
}

.input-box-contato input:focus-visible {
    outline: 1px solid tomato;
}

.input-box-contato label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box-contato input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: darkgoldenrod;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: green;
    
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: purple;
}


#container-login{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;

}

#email-login{
    
    width: 80%;
}

#senha-login{
    width: 50%;
}

#botao-login{
    width: 30%;
}





/* INICIO CADASTRAR*/

.container-contato {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    


}


.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

#texto-titulo{
    margin: 25px 0px 0px 50px;
}


.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: darkgreen;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group-contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box-contato {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box-contato input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box-contato input:hover {
    background-color: #eeeeee75;
}

.input-box-contato input:focus-visible {
    outline: 1px solid tomato;
}

.input-box-contato label, h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box-contato input::placeholder {
    color: #000000be;
}


.botao-sinvo{
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around;
    align-items: center;
    height: 100px;
    
    
}

.botao-vol button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: darkgreen;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.botao-sin button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: darkgreen;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.botao-vol button:hover {
    background-color: green;
    
}

.botao-sin button:hover {
    background-color: green;
    
}

.botao-vol button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: purple;
}

.botao-sin button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: purple;
}


#botao-1{
    
    width: 50%;
   
    border-radius: 20px;
    background-color: darkgreen;
}

#botao-2{
    width: 50%;
    
    border-radius: 20px;
    background-color: darkgreen;
    
}

#container-login{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;

}




/* FIM ABA CADASTRAR */









/*----------------------*/




.navbar-brand{
    margin-left: 40px;
}

#nav-principal{
    margin-right: 45px;
}


nav.navbar-transparente{
    background: rgba(0, 0, 0, 0.6);
    /*padding: 15px 0px;*/
}

.navbar-expand-sm .navbar-nav .nav-link{
    color: white;
    
}



.navbar-expand-sm .navbar-nav .nav-link:hover{
    color: tomato;
}

.navbar-toggler-icon{
    border: white;
    

}

button .navbar-toggler.hamburger{
   margin-left: 40px;
}


.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}








.btn-box{
    
    justify-content: center;
    align-items: center;
    

}

.img-box{
    width: 100%;
    
    
   
}

.img-box img{
    max-width: 100%;
    min-width: 50w;
    min-height: 50%;
    
}

.btn{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.btn-index{
    font-size: 2rem;
    text-transform: uppercase;
}

.container-box-1{
    position: absolute;
    top: 48%;
    left: 55%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;

}


.container-box-2{
    position: absolute;
    top: 67%;
    left: 55%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;

}

/* START FOOTER*/


footer{
    background-color: darkgreen;
    padding: 50px 0 0 0 ;
    margin-top: 100px ;
}
.footer-cadastro{
    margin-left: -190px;
    background-color: darkgreen;
    padding: 50px 0 0 0 ;
    margin-top: 100px ;
}
.midias {
    color: #ffffff;
    text-align: center;
    padding-left: 100px;
}

.midias a i {
    font-size: 1.5rem;
    margin: 4px;
    color: #ffffff;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: tomato;
    padding-left: 10px;
}

.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    margin-top: -25px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: lightgray;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: gray;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}

.assinatura{
    display: grid;
    justify-content: center;
    
    
    
}


/* END FOOTER*/








/* FOOTER*/

@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}
/* FIM FOOTER */

@media (max-width:1000px) {

    .navbar-brand{
        margin-left: 50px;
    }

    .navbar-toggler{
        margin-right: 25px;
    }

    main{
        flex-direction: column;
    }

    .text-box,
    .img-box{
        width: 100%;
        margin-top: 35px;
        text-align: center;
        margin-left: auto;
        justify-content: center;
    }
    .container-box-1{
        top: 35%;
        
    }

    .container-box-2{

        top: 55%;

    }

}

@media screen and (max-width: 1330px) {
    .form-cadastro {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .form-cadastro {
        width: 90%;
        height: auto;
    }
    .form-cadastro {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

   
}

@media screen and (max-width:600px) {
    #container-login{
        width: 10   0%;
    }
}
