@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



body {
    
    background: linear-gradient(
        to bottom right,
        #45c270, #21cdc3
    );
    
   
}

main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/** página de sobre**/
a{
    text-decoration: none;
    color: darkgreen;
}
.text-boxx h1{
    width: 100%;
    margin-top: -235px;
    text-align: left;
    justify-content: center;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
    border-bottom: 5px solid green;

}

.paragrafo-contato{
    font-size: 1.2em;
    font-weight: 400;
    margin-left: -99px;
    margin-top: -60px;
    color: #000000;
}
/*página de contato*/
.contato-form{
    display: grid;
    margin-left: 40%;
    margin-top: 100px;
    }
    
    .form-row{
        margin: 0 auto;
        display: block;
        width: 30;
        height: auto;
    } 
     
    .btn-contato{
        width: 80px;
        background-color: darkgreen;
        color: #ffffff;
    }
    .form-control{
        width: 300px;
    }
    
    /**página de cadastro**/
  .form-cadastro{
    margin-left: 150px;
    margin-top: 50px;
}

    .form-right{
        float: right;
        margin-right: 500px;
        margin-top: -339px;
    }
h3{
    border-bottom: 3px solid darkgreen;
    width: max-content;
    text-align: center;
    margin-left: 235px;
}

.botao-sinvo{
    float: right;
    margin-right: 180px;

}
.botao-sin{
    background-color: #0d6efd;
    position: absolute;
    left: 75%;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: -165px;
    
}

.botao-vol{
    background-color: #0d6efd;
    position: absolute;
    left: 75%;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: -200px;
}
/**fim**/

.navbar-brand{
    margin-left: 80px;
}

#nav-principal{
    margin-right: 45px;
}


nav.navbar-transparente{
    background: rgba(0, 0, 0, 0.6);
    /*padding: 15px 0px;*/
}

.navbar-expand-sm .navbar-nav .nav-link{
    color: white;
    
}



.navbar-expand-sm .navbar-nav .nav-link:hover{
    color: tomato;
}

.navbar-toggler-icon{
    border: white;
}

.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}








.btn-box{
    
    justify-content: center;
    align-items: center;
    

}

.img-box{
    width: 100%;
    
    
   
}

.img-box img{
    max-width: 100%;
    min-width: 50w;
    min-height: 50%;
    
}

.btn{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.btn-index{
    font-size: 2rem;
    text-transform: uppercase;
}

.container-box-1{
    position: absolute;
    top: 48%;
    left: 55%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;

}


.container-box-2{
    position: absolute;
    top: 67%;
    left: 55%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;

}

/* START FOOTER*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

footer{
    background-color: darkgreen;
    padding: 50px 0 0 0 ;
    margin-top: 100px ;
}
.footer-cadastro{
    margin-left: -190px;
    background-color: darkgreen;
    padding: 50px 0 0 0 ;
    margin-top: 100px ;
}
.midias {
    color: #ffffff;
    text-align: center;
    padding-left: 100px;
}

.midias a i {
    font-size: 1.5rem;
    margin: 4px;
    color: #ffffff;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: tomato;
    padding-left: 10px;
}

.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    margin-top: -25px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: lightgray;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: gray;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}

.assinatura{
    display: grid;
    justify-content: center;
    
    
    
}


/* END FOOTER*/


/* FOOTER*/

@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}
/* FIM FOOTER */

@media (max-width:1000px) {

    html {
    
        height: 100%;
    
    }
    main{
        flex-direction: column;
    }
    .text-box,
    .img-box{
        width: 100%;
        margin-top: 35px;
        text-align: center;
        justify-content: center;
    }
    .container-box-1{
        top: 35%;
        
    }

    .container-box-2{

        top: 55%;

    }

}

